<div class="container" style="margin-top: 20px;">
  <div *ngIf="loading">Buscando...</div>
  <div *ngIf="!loading && musicas.length == 0;">Nenhuma musica cadastrada.</div>
  <table *ngIf="musicas && musicas.length > 0" class="table table-hover text-center">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let musica of musicas">
        <td><a target="_blank" href="{{musica.link}}">{{musica.nome}}</a></td>
        <td>
          <button title="Editar" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" (click)="editar(musica)">
            <i class="fa fa-pencil"></i>
          </button>
          <button title="Excluir" type="button" class="btn btn-danger btn-sm" (click)="excluir(musica.id)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <br>
  <div class="text-right">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="newMusica()">
      Nova musica
    </button>
    <button type="button" class="btn btn-primary" (click)="dowloadRelatorio()">
      ico Baixar em excel
    </button>
  </div>

  <!-- The Modal -->
  <div class="modal" id="myModal" style="color: black">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Nova musica</h4>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <label>Nome</label><br>
          <input id="nome" [(ngModel)]="novaMusica.nome" #ctrl="ngModel" type="text" /><br><br>
          <label>Link cifra</label><br>
          <input id="link" [(ngModel)]="novaMusica.link" #ctrl="ngModel" type="text" /><br>
          <i>Caso não insira o link será um atalho para o cifra club.</i>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="adiciona()">
            <i class="fa fa-disk"></i>{{ novaMusica.id != null ? 'Alterar' : 'Adicionar' }}
          </button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Close
          </button>
        </div>

      </div>
    </div>
  </div>
</div>