<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h4>Clientes</h4>
        </div>
        <div class="col">
            <button class="btn btn-sm btn-primary pull-right" title="Novo cliente" (click)="novoCliente()">
                <i class="fa fa-plus"></i> Novo cliente</button>
        </div>
    </div>
    <hr>

    <div *ngIf="!loading && clientes && clientes.length < 1">Nenhum cliente cadastrado</div>
    <div *ngIf="loading"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i></div>
    <br>

    <table class="table table-sm table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF/CNPJ</th>
                <th>Tipo cliente</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of clientes">
                <td>{{c.nome}}</td>
                <td>{{c.cpfcnpj}}</td>
                <td>{{c.tipoCliente.descricao}}</td>
                <td>
                    <button class="btn btn-sm btn-primary" >
                        <i class="fa fa-pencil" title="Editar"></i>
                    </button>
                    <button class="btn btn-sm btn-danger">
                        <i class="fa fa-trash" title="Excluir" (click)="excluirCliente(c.id)"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>