<div class="container mt-5">
    <h4>Orçamentos cadastrados</h4>
    <button class="btn btn-sm btn-primary pull-right" title="Novo produto" (click)="novoOrcamento()" data-toggle="modal"
        data-target="#myModal"><i class="fa fa-plus"></i> Novo
        orcamento</button>
    <div *ngIf="orcamento && orcamentos.length < 1">Nenhum produto cadastrado</div>
    <table *ngIf="orcamentos && orcamentos.length > 0" class="table table-bordered table-hover table-striped">
        <thead class="thead-light text-center">
            <tr>
                <th>Id</th>
                <th>Cliente</th>
                <th>Menu</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" *ngFor="let o of orcamentos; let i = index">
                <td>{{o.id}}</td>
                <td>{{o.clienteId}}</td>
                <td>
                    <button data-toggle="modal" data-target="#myModal" (click)="editaOrcamento(p)" title="Editar"
                        type="button" class="btn btn-sm btn-success">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button title="Excluir" data-toggle="modal" data-target="#modalExclusao"
                        (click)="excluiOrcamento(o)" type="button" class="btn btn-sm btn-danger"><i
                            class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
</div>



<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Orcamento</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>


            <!-- Modal body FORM -->
            <div [formGroup]="meuFormulario" class="modal-body">

                <label>Cliente</label>
                <select class="form-control" id="valor" formControlName="cliente" type="text">
                    <option *ngFor="let c of clientes" value="c.id">{{c.nome}}</option>
                </select>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="salvaOrcamento()"
                    [disabled]="!meuFormulario.valid">Salvar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="modalExclusao">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Excluir Orcamento</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body FORM -->
            <div class="modal-body">

                Deseja realmente excluir o orcamento "{{orcamento.nome}}"?

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal"
                    (click)="confirmaExcluiOrcamento()">Sim</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
            </div>

        </div>
    </div>
</div>