<nav class="navbar navbar-expand-md bg-blue navbar-dark">
  <a class="navbar-brand" data-toggle="collapse" data-target=".navbar-collapse.show">
    <h4 [routerLink]="['/']" style="color: white">Orcamento.com</h4>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Clientes
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" [routerLink]="['/clientes']">Listar</a>
        <a class="dropdown-item" [routerLink]="['/clientes/cadastro']">Cadastrar</a>
      </div>
    </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" [routerLink]="['/produtos']">Produtos</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" [routerLink]="['/orcamentos-listar']">Orçamentos</a>
      </li>
      <li *ngIf="userService.getRole() == 'ROLE_ADMIN'" class="nav-item" data-toggle="collapse"
        data-target=".navbar-collapse.show">
        <a class="nav-link">Relatórios</a>
      </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" title="email do usuario"><i class="fa fa-user"></i> {{userService.getUsername()}}</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">

        <a class="nav-link" (click)="signOut()"><i class="fa fa-power-off"></i> Sair</a>
      </li>
    </ul>
  </div>

</nav>