.boxlogin{
    padding-top: 10px;
    left: 50%;
    top: 50%;    
}

body{
  background-color: #3b5998;
  color: white
}

.btn{
    margin-right: 5px;
    margin-left: 5px;
}


@media screen and (max-width:691px){
  img.logotipo {
    width: 220px;
    transition-duration: 500ms;
  }
}

@media screen and (min-width:692px){
  img.logotipo{
    width: 300px;
    transition-duration: 500ms;
  }
}