<section id="cover">
    <div id="cover-caption">
        <div id="container" class="container">
            <div class="row text-white boxlogin">
                <div class="col-sm-6 offset-sm-3 text-center">
                    <h6 class="display-4">Login</h6>
                    <div class="info-form">
                        <form action="login()" class="form-inlin justify-content-center" #form="ngForm" (ngSubmit)="login()" novalidate>
                          <div class="alert alert-danger alert-dismissible fade show" *ngIf="message">
                              <button type="button" class="close" data-dismiss="alert">&times;</button>
                              <strong>Erro!</strong>  Email ou password inválido!
                            </div>
                          <div [ngClass]="getFormGroupClass(email.invalid,email.dirty)">
                            Email
                            <div class="col">
                              <input type="email" 
                                     [(ngModel)]="user.email"
                                     name="email"
                                     class="form-control" 
                                     id="inputEmail" 
                                     #email="ngModel"
                                     placeholder="e-mail"
                                     email>
                              <span class="help-block" *ngIf="email.invalid  && email.dirty">Email is invalid </span>
                            </div>
                          </div>
                          <div [ngClass]="getFormGroupClass(password.invalid,password.dirty)">
                            Password
                            <div class="col">
                              <input type="password" 
                                     [(ngModel)]="user.password"
                                     name="password" 
                                     class="form-control" 
                                     id="inputPassword" 
                                     placeholder="password"
                                     #password="ngModel" 
                                     required>
                              <span class="help-block" *ngIf="password.invalid && password.dirty">Password is required</span>
                            </div>
                          </div>
                          <button type="submit" [disabled]="!form.valid" class="btn btn-primary">
                              <i class="fa fa-user"></i> Login
                          </button>
                          <button [routerLink]="['/cadastro']" [disabled]="true" class="btn btn-primary">
                            <i class="fa fa-user-plus" ></i> Cadastrar
                        </button> <br><br>
                   
                        </form>
                    </div>
                    <div>
                      usuarios para teste:<br><br>
                      ADMIN:<br>
                      login: admin@system.com<br>senha: 123456<br><br>
                      USUARIO:<br>
                      login: usuario@system.com<br>senha: 112233
                    </div>
                    <button class="btn btn-success" (click)="showSuccess()">teste</button>
                </div>
            </div>
        </div>
    </div>
</section>
