<div *ngIf="perfil" class="card">
    <div class="card-body text-center">

        <!-- <img *ngIf="image" src="{{image}}" alt=""/>
        <img *ngIf="!image" src="assets/profile-default-image.png" />
        <input type="file" (change)="changeListener($event)"> -->

        <label class="filebutton">
            <img *ngIf="!this.perfil.imagem" src="assets/profile-default-image.png" />
            <img *ngIf="this.perfil.imagem" src="{{this.perfil.imagem}}" alt=""/>
            <span><input type="file" id="myfile" d (change)="changeListener($event)"></span>
        </label>

        <p><b>{{perfil.nome}}</b></p>
        <i>FullStack Developer</i>
    </div>
</div>