<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" data-toggle="collapse" data-target=".navbar-collapse.show">
      <img class="logotipo" [routerLink]="['/']" src="assets/logotipo.png">
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" [routerLink]="['/setlist']">Musicas</a>
      </li>
      <li *ngIf="userService.getRole() == 'ROLE_ADMIN'" class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" [routerLink]="['/configuracoes']">Configuracoes</a>
        </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" title="email do usuario"><i class="fa fa-user"></i> {{userService.getUsername()}}</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <button class="btn btn-primary" (click)="signOut()">Sair</button>
      </li>
    </ul>
  </div>

</nav>
