<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" [routerLink]="['/']">Tiago<b>{{brand}}</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" [routerLink]="['/setlist']">Musicas</a>
      </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" title="{{shared.user.profile}}"><i class="fa fa-user"></i> {{ shared.user.email }}</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <button class="btn btn-primary" (click)="signOut()">Sair</button>
      </li>
    </ul>
  </div>

</nav>
