<div class="container mt-5">
    <h4>Novo orcamento</h4>
    <label>Cliente</label>
    <select class="form-control" id="valor" [(ngModel)]="orcamento.cliente" #ctrl="ngModel" type="text">
        <option value="">selecione um cliente</option>
        <option *ngFor="let c of clientes" [ngValue]="c">{{c.nome}}</option>
    </select>

    <hr>
    <button class="btn btn-sm btn-success pull-right" title="Salvar orçamento" (click)="salvarOrcamento()"[disabled]="!orcamentoPodeSalvar()">
        <i class="fa fa-plus"></i> Salvar orçamento
    </button>
    <button class="btn btn-sm btn-primary pull-right" title="Adicionar item" data-toggle="modal"
        data-target="#novoItem"><i class="fa fa-plus"></i> Adicionar item</button>
    <table class="table table-sm table-bordered table-hover table-striped text-center">
        <thead class="thead-light">
            <tr>
                <th>Item</th>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Valor unitário</th>
                <th>Valor total</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of orcamento.itens; let y = index">
                <td>{{y+1}}</td>
                <td>{{i.produto.nome}}</td>
                <td>{{i.quantidade}}</td>
                <td>{{i.produto.valor | currency:'BRL':true:'1.2-2'}}</td>
                <td>{{i.produto.valor * i.quantidade | currency:'BRL':true:'1.2-2'}}</td>
                <td><button class="btn btn-sm btn-danger" title="Delete"><i class="fa fa-trash"></i></button></td>
            </tr>
        </tbody>
    </table>
    <hr>
    <div class="row">
        <div class="col">
            TOTAL:
        </div>
        <div class="col text-right">
            {{orcamento.total | currency:'BRL':true:'1.2-2'}}
        </div>
    </div>
</div>


<!-- Modal produto a ser adicionado -->
<div class="modal" id="novoItem">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Adicionar item</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <label>Item</label>
                <select class="form-control" id="produto" [(ngModel)]="novoItem.produto" #ctrl="ngModel" type="text">
                    <option value="">selecione um produto</option>
                    <option *ngFor="let p of produtos" [ngValue]="p">{{p.nome}}: {{p.valor | currency:'BRL':true:'1.2-2'}} {{p.tipoMedida}} </option>
                </select>
                <label>Quantidade</label>
                <input class="form-control" id="qtd" [(ngModel)]="novoItem.quantidade" #ctrl="ngModel" type="number" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal"
                    (click)="addItemToList()">Salvar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>