<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h4>Cadastro de cliente</h4>
        </div>
    </div>
    <hr>
    <div [formGroup]="formCliente">
         <label>Nome</label>
        <input class="form-control" id="nome" formControlName="nome" type="text" />
        <br><label>Tipo Cliente</label>
        <select (change)="formatarCpfCnpj()" class="form-control" id="tipoCliente" formControlName="tipoClienteId" type="text">
            <option [ngValue]="null">Selecione um tipo</option>
            <option *ngFor="let tipo of tipos" value="{{tipo.codigo}}">{{tipo.descricao}}</option>
        </select>
        <div *ngIf="getTipo() === '1' || getTipo() === '2'">
            <br><label>{{getTipo() === '1' ? 'CPF' : getTipo() == '2' ? 'CNPJ' : 'CPF/CNPJ'}}</label>
            <input (keyup)="formatarCpfCnpj()" maxlength="{{getMaxLength()}}" class="form-control" id="cpfcnpj" formControlName="cpfcnpj" type="text" />
        </div>
    </div>
    <button class="btn btn-success" (click)="cadastrar()" [disabled]="formCliente.invalid">Salvar</button>
</div>