<div id="container" class="container">
    <div class="row boxlogin">
      <div class="col-sm-6 offset-sm-3 text-center">
        <span [routerLink]="['/']"><h1>Orcamento.com</h1></span>
          <h4>Cadastro</h4>
        <div class="info-form">
          <form action="cadastrar()" class="form-inlin justify-content-center" #form="ngForm" (ngSubmit)="cadastrar()" novalidate>
            <div [ngClass]="getFormGroupClass(email.invalid,email.dirty)">
              Email
              <div class="col">
                <input type="email" [(ngModel)]="user.email" name="email" class="form-control" id="inputEmail"
                  #email="ngModel" placeholder="e-mail" email>
                <span class="help-block" *ngIf="email.invalid  && email.dirty">Email is invalid </span>
              </div>
            </div>
            <div [ngClass]="getFormGroupClass(password.invalid,password.dirty)">
              Password
              <div class="col">
                <input type="password" [(ngModel)]="user.password" name="password" class="form-control" id="inputPassword"
                  placeholder="password" #password="ngModel" required>
                <span class="help-block" *ngIf="password.invalid && password.dirty">Password is required</span>
              </div>
            </div>
            <button type="submit" [disabled]="!form.valid" class="btn btn-primary">
              <i class="fa fa-check"></i> Cadastrar
            </button>
            <button [routerLink]="['/login']" class="btn btn-primary">
              <i class="fa fa-mail-reply"></i> Voltar para o login
            </button> <br><br>
  
          </form>
        </div>
      </div>
    </div>
  </div>