<div class="container" style="margin-top: 20px">

  <h5>Aplicação exemplo</h5>

  <p>Este sistema possui um CRUD* básico, afim de mostrar uma implementação full-stack* de uma aplicação WEB.</p>

  <p>* "full-stack" : É aquele que lida tanto com o back-end (o lado dos servidores), quanto com o front-end (o lado dos clientes, os browsers)..</p>

  <p>* "CRUD" (acrónimo do inglês Create, Read, Update and Delete) são as quatro operações básicas (criação, consulta, atualização e destruição de dados) utilizadas em bases de dados relacionais (RDBMS) fornecidas aos utilizadores do sistema.</p>

  <p>Também é possivel ver que o usuario comum tem permissões diferentes do administrador</p>
</div>