<div class="container">

  <h5>Sobre</h5>

  <p>
    Desenvolvedor Java e Web<br>
    Analista de Tester de Software </p>



  <p>
    Planejamento e execução de scripts de teste manuais e automatizados.
    Utilização de metodologias e práticas de teste Scrum , Agile.
  </p>

  <p>Frameworks de teste e suporte a teste, JUnity, Cucumber, Concordion, Selenium, CRT2.</p>

  <p>Testes de integração com PowerCenter(ETL). </p>

  <p>
    Conhecimentos de programação: html, css, Bootstrap, Javascript, AngularJs, Angular 4, typescript, Springframework,
    Java, JSP, JPA, npm, Maven, Heroku.
    Frameworks de versionamento: git, svn.
    IDEs: Eclipse , IntelliJ, Netbean, VScode</p>

  https://github.com/tiagohucs
</div>